body {
    color: rgb(255, 255, 255);

}

h4 {
    color: black;
}

.Maingrid {
    margin-left: 100PX;
    margin-right: 100PX;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 40%) 1fr;
    width: 86%;
    height: 585px;
    column-gap: 1px;
    background-color: #ffffff;
}

.Offers {
    background-image: url("Pic/Pic1.png");
    background-size: 100%;
    grid-row: 1/ 3;
    grid-column: 1/ 2;
    image-resolution: initial;

}

.Extra {
    background-image: url("Pic/Pic2.png");
    background-size: 100%;
    grid-column: 2/3;


}

.SmartLife {
    background-image: url("Pic/Pic3.png");
    background-size: 100%;
    grid-column: 2/3;
}

.Nav {
    grid-column: 1/3;
    background-color: blue;
}

.Navgrid {
    display: grid;
    grid-column: 1/3;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 10px;
    column-gap: 6px;
}

.imgcontiner1,
.imgcontiner2,
.imgcontiner3,
.imgcontiner4,
.imgcontiner5 {
    margin-top: 10px;
    padding: 5px;
    display: grid;
    grid-column: 1/3;
    grid-template-columns: 40% 60%;
    border: 2px solid rgb(164, 161, 161);
    align-items: center;
    justify-content: center;

}

.imgcontiner1 {
    background-color: #FF7900;
    border: 2px solid #FF7900;
    border-bottom: solid 4px #FF7900;

}

.imgcontiner1 h4 {
    color: white;
}

.imgcontiner2 {

    border-bottom: solid 4px #50BE87;
}

.imgcontiner3 {

    border-bottom: solid 4px #44BBE6;
}

.imgcontiner4 {

    border-bottom: solid 4px #A885D8;
}

.imgcontiner5 {

    border-bottom: solid 4px #FFB4E6;
}

.Offers h5,
.Offers h1 {
    color: #FF7900;
}

article {
    margin-left: 80px;
    margin-top: 60px;
}

.Extra h3,
.Extra p {
    margin-left: 340px;
    margin-top: 30px;
}

.Extra h5 {

    margin-left: 340px;
    margin-top: -10px;


}

a {
    color: white;
    text-decoration: none;
}


.SmartLife h3 {
    margin-left: 20px;
    margin-top: 30px;
}

.SmartLife p {
    margin-left: 20px;
    margin-top: 30px;
}

.SmartLife h5 {

    margin-left: 20px;
    margin-top: -10px;


}